node_modules/
.npm/
.cache/
.local/
.config/
.var/
.mozilla/
.dbus/
.pki/
.nv/
.cargo/
.bun/
.gsd/
.gvfs/
.steam/
.bash_history
.bash_logout
.bash_profile
.bashrc
.git-credentials
.gtkrc-2.0
test-results/
playwright-report/
blob-report/
playwright/.cache/
.env
dist_electron/
dist/
repos/
Applications/
Applications/
apps/
Desktop/
Downloads/
Games\ M2/
HeadsetControl/
Music/
Pictures/
Public/
Templates/
Videos/
videos/
google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz
